<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" parallel="classes" thread-count="3">
    <test name="Regression1">
        <classes>
            <class name="org.example.ChatTest"/>
            <class name="org.example.SearchTest"/>
            <class name="org.example.SettingsTest"/>
        </classes>
    </test>
</suite>
